.form-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-size: 30px;
}
.title{
    font-size: 60px;
    font-weight: 100;
}
.form-content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 200px;
    background-color: none;
    border: solid;
    font-size: 20px;
}
