*
{
    margin: 0%;
    padding: 0%;
}

header
{
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to right, #73f5a0, #3f8658);
    display: flex;
    position: relative;
    width: 98.9vw; /*ainda não identifiquei exatamente o que ta fazendo 
                    esse valor ser mais satisfatório, mas vou corrigir futuramente*/
    height: 11vw;
}

#headerLogo
{
    display: flex;
    background-color: #3f8658;
    align-content: center;
    width: 14.5vw;
    height: 6vw;
    margin-left: 3vw;
    margin-top: 2.5vw;
    border-radius: 10px;
}

#buttonLOGO
{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

#logo
{
    width: 5vw;
    height: 5vw;
    margin-left: 0.6vw;
    margin-top: 1vh;
}

#logoName
{
    font-family: "Open Sans", sans-serif;
    font-size: 2.4vw;
    margin-left: 0.5vw;
    margin-top: 1.4vw;
}

#form-search
{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #2f6442;
    border: 0.5px rgba(245, 245, 245, 0.651) solid;
    border-radius: 50px;
    height: 44px;
    margin-top: 1vw;
    left: 50%;
    transform: translate(-50%);

}

#search
{
    display: flex;
    flex-direction: row;
}

#search-input
{
    order: 1;
    font-family: "Open Sans";
    font-weight: 200;
    font-size: large;
    color: white;
    margin-left: 1vw;
    background: none;
    cursor: text;
    border: none;
    width: 35vw;
    box-shadow: none;
}

#search-input:-webkit-autofill,
#search-input:-webkit-autofill:hover,
#search-input:-webkit-autofill:focus,
#search-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #2f6442 inset !important;
    -webkit-text-fill-color: white !important;
}

#search-input:focus
{
    outline: none;
    border: none;
}

#search-input::placeholder
{
    font-family: "Open Sans";
    font-weight: 200;
    font-size: large;
    color: white;
}

#search-input::-webkit-search-cancel-button {
    display: none !important;
}

#search-input::-webkit-search-decoration {
    display: none !important;
}

#button
{
    order: 0;
    background-color: #42885a;
    border: none;
    border-right: 0.5px rgba(245, 245, 245, 0.651) solid;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    cursor: pointer;
    width: 55px;
    height: 44px;
}
#button:hover
{
    background-color: #3c7c52;
}

#imgButton
{
    width: 30px;
    height: 30px;
    margin-left: 18%;
    margin-top: 5%;
    transform: scaleX(-1);
}

#sugestionList
{
    display: none;
    position: relative;
    list-style-type: none;
    background-color: rgb(202, 207, 204);
    margin: 0%;
    padding: 0%;
    border-radius: 10px;
    margin-top: 3px;
    width: 35vw;
    left: 55px;
}
.buttonList
{
    margin-top: 0.7vh;
    margin-bottom: 0.7vh;
    font-family: "Open Sans";
    font-weight: 600;
    color: black;
    font-size: 15px;
    text-align: left;
    margin-left: 1vh;
    padding-left: 1vh;
    width: 34vw;
    background: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttonList:hover
{
    background-color: rgba(122, 122, 122, 0.555);
}


#buttonInsta, #buttonGit
{
    background: none;
    border: none;
}

#headerSocial
{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 5vw;
    height: 5vw;
    gap: 0.5vw;
    right: 2.5vw;
    top: 50%;
}

#instaLOGO, #gitLOGO
{
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
}

#title, #subtitle {
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 100vw;
}

#title
{
    font-family: "Open Sans";
    font-size: 60px;
    position: absolute;
    top: 200px;
}

#subtitle
{
    font-family: "Open Sans";
    font-size: 30px;
    position: absolute;
    top: 300px;
}

#content
{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Open Sans";
    top: 30vh;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}