body
{
    font-family: "Saira";
    background-image: url(../assets/images/bgGame.png);
    background-size: cover;
}

.form-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-size: 30px;
}

#question
{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    border-radius: 30px;
}

#logo
{
    position: absolute;
    font-size: 20px;
    color: #407445;
    margin-top: 0px;
    margin-left: 0px;
    transform: translateX(-20px);

}

.title{
    font-size: 40px;
    color: #34661a;
    font-weight: 600;
}

.form-content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answers
{
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
}

/*a proxima classe antes era um input type radio,
mas agora é um botão e to com preguiça de mudar.
até pq, TO SEM TEMPO AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
*/
.radio-input 
{
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    border: #407445 1px solid;
    width: 550px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease,
                color 0.3s ease,
                transform 0.3s ease;
}

.radio-input:hover
{
    background-color: rgb(226, 226, 226);
    transform: scale(1.03);
}

.textAnswer
{
    position: relative;
    font-family: "Saira";
    font-weight: 500;
    font-size: 24px;
    color: #3c6843;
    top: 50%;
    transform: translateY(-40%);
    margin-top: 0px;
}

button{
    width: 200px;
    background-color: none;
    border-radius: 15px;
    border: none;
    font-size: 20px;
}
