<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon/favicon.ico') }}" type="image/x-icon">
    <title>Iluá</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <header>
            <div id="headerLogo">
                <img src="{{ url_for('static', filename='assets/images/android-chrome-512x512.png') }}" alt="logo" id="logo">
                <h1 id="logoName">Iluá</h1>
            </div>

            <form id="form-search">
                    <input type="text" id="search-input" placeholder="Pesquisar..." required>
                    <button type="submit" id="button">
                        <img src="{{ url_for('static', filename='assets/images/lupa.png') }}" alt="Pesquisar" id="imgButton">                    </button>
            </form>

            <div id="headerSocial">
            </div>
        </header>
    </main>
</body>
</html>